<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet/less" href="/style.less">
    <script src="/less.js"></script>
  </head>
  <body>
    <div id="topbar">
      <img src="/logo.png" height="42" width="42" />
    </div>
    <div class="wrap">
      <% flash.each do |name, message| %>
	<%= content_tag :div, message, class: "flash #{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <div id="bottombar">
      Trotter is a Twitter clone made with Ruby on Rails and passion by Guillaume Gelin
  </body>
</html>
